<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 text-center">
                <mat-icon>face</mat-icon>
                <div class="info">
                    <span>Yuval Vizel</span>
                </div>
                
            </div>
            <div class="col-sm-4 col-md-3 text-center">
                <mat-icon> email</mat-icon>
                <div class="info">
                    <span>Yuvalvizel@gmail.com</span>
                </div>  
            </div>
            <div class="col-sm-4 col-md-3 text-center">
                <mat-icon> phone</mat-icon>
                <div class="info">
                    <span>054-5836005</span>
                </div>        
            </div>
        </div>
    </div>
</div>
