<div class="books-list-page-container page">
    <div *ngIf="(booksList$ | async)!.length == 0" class="empty-list-btn">
        <button class="empty-bt" routerLink="/createBook" role="button">
            <div class="btn-text">
                Library is Empty!<br>
                Click here to add a new book<br>
                <mat-icon>library_add</mat-icon>
            </div>
        </button>

    </div>
    <div *ngFor="let book of (booksList$ | async)">
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="content-header">
                        <span class="book-title">{{book.name}} ({{book.yearOfPublish}})</span>
                    </div>
                    <div class="img-container">
                        <img src="../../assets/book.jpeg" alt="book">
                    </div>
                    <div class="content-info">
                        <p class="genre">{{book.genre}}</p>
                        <p class="price">{{book.price}}$</p>
                        <p class="description">{{book.description}}</p>
                    </div>
                    <div class="view-book-link-container">
                        <a class="link" [routerLink]="['edit', book.id]">Edit Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>